<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<clear />
				<add name="FwTraceListener" type="SIL.LCModel.Utils.EnvVarTraceListener, SIL.LCModel.Utils, Culture=neutral, PublicKeyToken=f245775b81dcfaab" initializeData="assertuienabled='true' logfilename='%temp%/asserts.log'" />
			</listeners>
		</trace>
	</system.diagnostics>
  <!-- These two dllmap entries are copied from icu.net.dll.config. They are needed to get tests to pass on Ubuntu 22.04. -->
  <!-- See https://github.com/sillsdev/icu-dotnet/issues/181 and https://github.com/sillsdev/TheCombine/issues/1768       -->
  <dllmap os="!windows,osx" dll="libdl.so" target="libdl.so.2" />
  <dllmap os="osx" dll="libdl.so" target="libdl.dylib"/>
</configuration>
