<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap dll="icuuc54.dll" target="libicuuc.so.54" />
  <dllmap dll="icuin54.dll" target="libicui18n.so.54" />
  <dllmap dll="libhunspell">
    <dllentry dll="libhunspell.so" name="hunspell_initialize" target="Hunspell_create" />
    <dllentry dll="libhunspell.so" name="hunspell_uninitialize" target="Hunspell_destroy" />
    <dllentry dll="libhunspell.so" name="hunspell_spell" target="Hunspell_spell" />
    <dllentry dll="libhunspell.so" name="hunspell_add" target="Hunspell_add" />
    <dllentry dll="libhunspell.so" name="hunspell_add_with_affix" target="Hunspell_add_with_affix" />
    <dllentry dll="libhunspell.so" name="hunspell_remove" target="Hunspell_remove" />
    <dllentry dll="libhunspell.so" name="hunspell_suggest" target="Hunspell_suggest" />
    <dllentry dll="libhunspell.so" name="hunspell_free_list" target="Hunspell_free_list" />
  </dllmap>
</configuration>