<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap dll="icuuc70.dll" target="libicuuc.so.70" />
  <dllmap dll="icuin70.dll" target="libicui18n.so.70" />
  <dllmap os="!windows,osx" dll="libdl.so" target="libdl.so.2" />
  <dllmap os="osx" dll="libdl.so" target="libdl.dylib"/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
